data/test_data
data/training_data
data/picar_data_grab
data/8
data/C
data/T
data/signs
data/57_tpu_rec*
figures/
results/
experiments/*/wandb
*__pycache__*
project_overview.md
note.md
pi_dump
experiments/30_ConvNeXtBase/best_model.h5
experiments/31_EfficientNetV2S/best_model.h5
.claude*